extends layouts/base-layout.pug 

block eyeCandy
    .resultsContainer


block headerButton
    a(href="/Messages/newHeat")
        i.fa-solid.fa-hand-sparkles

block scripts 
    script(src="/Frontend/ChatRooms.js") 