extends layouts/loginPage-layout.pug

block eyeCandyLogin
    .loginContainer 
        style
          font-family=  "Courier New", monospace
        hi Welcome 
        form(action="", method="post")

            p.errorMessage #{errorMessage}
            //- input(type="text", name="logMobUserName", placeholder="Mob Username or Email",value=logMobUsername, required="", font-family="Courier New")
            //- input(type="password", name="logMobPassword", placeholder="Password", required="")  
            //- Below is a developement best practice that will aloow me to autopopulate my login fields or me so that I dont have to be constantly
            //- retyping my lines as I login.
            input(type="text", name="logMobUserName", placeholder="Mob Username or Email",value="", required="", font-family="Courier New")
            input(type="password", name="logMobPassword", placeholder="Password", value="", required="")  

            input(type="submit", value="Login")

        a(href="/register") Haven't earned your strips yet? Sign up here.
         
         
