extends layouts/base-layout.pug 

block eyeCandy
    .resultsContainer
block headerButton
    button#markNottiesAsRead
        i.fas.fa-check-double

block scripts 
    script(src="/Frontend/pushNotifications.js") 